.posts__writing {
    display: flex;
    flex-direction: column;
}

.posts__writing textarea {
    margin: 0 10px;
    padding: 3px;
}

.posts__writing button {
    width: 120px;
    height: 30px;

    margin: 10px 10px 0 10px;
    padding: 3px;

    align-self: flex-end;
}