.nav {
    grid-area: navigation;

    background-color: gray;
}

.menu {
    list-style: none;
}

.item a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.activeLink {
    font-style: italic;
}