.writing {
    display: flex;
    flex-direction: column;
}

.writing textarea {
    margin: 0 10px;
    padding: 3px;
}

.writing button {
    margin: 10px 10px 0 10px;

    align-self: flex-end;
    display: block;
    width: auto;
    height: auto;
    border: 4px solid #fff;
    border-radius: 0;
    cursor: pointer;
    background-color: #ccc;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
