.wrapper {
  min-height: 100vh;
  max-width: 1024px;

  margin: 0 auto;

  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 11fr;
  grid-template-areas:
          "header header"
          "navigation cWrapper"
;
  grid-gap: 10px;
}

.content-wrapper {
  grid-area: cWrapper;

  background-color: dimgray;
}

/*576-767.98*/
@media (max-width: 767.98px) {
  .wrapper {
    grid-template-rows: 60px min-content auto;
    grid-template-columns: 1fr;
    grid-template-areas:
          "header"
          "navigation"
          "cWrapper"
  ;
  }
}

/*480-575.98*/
@media (max-width: 575.98px) {
  .wrapper {
    grid-template-rows: min-content min-content auto;
  }
}

