.auth {
    display: flex;
    align-items: center;
}

.profile {
    margin-right: 20px;
}

.logo {
    height: 60px;
    width: 60px;
}

.link {
    text-align: center;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: black;
}
